body article.main {
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

header {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
}

h1 {
    margin-left: 15%;
}

h2 {
    text-align: center;
}

#menu_btn {
    font-size: 30px;
    cursor:pointer
}

.quotes{
    text-align: center;
}

.author{
    font-style: italic;   
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

/* The side navigation menu */
nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

nav a:hover {
    color: #f1f1f1;
}

nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  nav {padding-top: 15px;}
  nav a {font-size: 18px;}
}